/* Colors */
$babyBlue: rgb(118, 197, 207);
$darkgrey: rgb(35, 31, 32);
$emeraldgreen: rgb(57, 179, 139);
$gray: rgb(178, 178, 178);
$hailgray: rgb(116, 120, 122);
$lightgray: rgb(242, 242, 242);
$orange: rgb(233, 72, 47);
$pink: rgb(231, 36, 86);
$purple: rgb(108, 91, 163);
$warmred: rgb(252, 76, 2);
$white: rgb(255, 255, 255);

/* Font */
$arial: Arial, Helvetica, sans-serif;

/* Mixins */
@mixin font-styling($color, $font-size, $font-weight) {
    color: $color;
    font-size: $font-size;
    font-weight: $font-weight;
}
