@import './reset';
@import './variaveis';
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@import '../2-componentes/1-header';
@import '../2-componentes/2-main';
@import '../2-componentes/3-footer';

body {
    background-color: $lightgray;
    color: $white;
    font-family: $arial;

    .container {
        background-color: white;
    }
}

@media screen and (min-width: 768px) {
    body {
        max-width: 616px;
        margin: 0 auto;

        .container {
            padding-top: 1.25rem;
        }
    }
}