@import '../1-base/variaveis';

.header {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: space-between;
    
    background-image: linear-gradient(120deg, $orange 0%, $pink 100%);
    box-sizing: border-box;
    
    padding: 0 1rem;

    height: 90px;

    z-index: 1;

    .header__title {
        max-width: 84px;
    }

    .header__icons {
        .icon {
            position: absolute;
    
            background-size: contain;
            background-repeat: no-repeat;
        }
    
        .icon__traits {
            background-image: url(../../img/Icon/traits.png);
    
            top: 16%;
            left: -7%;

            width: 90px;
            height: 90px;
        }
    
        .icon__arrow {
            background-image: url(../../img/Icon/left-arrow.png);
    
            left: 39%;
            top: 13%;

            width: 21px;
            height: 10px;
        }
    
        .icon__marbles {
            background-image: url(../../img/Icon/marbles.png);
    
            left: 32%;
            bottom: -20%;

            width: 20px;
            height: 32px;
        }
    
        .icon__woman {
            background-image: url(../../img/Icon/woman.png);
    
            left: 39%;
            top: 40%;

            width: 80px;
            height: 94px;
        }
    
        .icon__triangle {
            background-image: url(../../img/Icon/triangle.png);
    
            right: 2%;
            top: 9%;

            width: 10px;
            height: 10px;
        }
    
        .icon__zigzag {
            background-image: url(../../img/Icon/zigzag.png);
    
            right: 5%;
            bottom: 10%;

            width: 50px;
            height: 5px;
        }
    }

    .container__info {
        .header__subtitle, .header__editon {
            @include font-styling($white, .625rem, 400, .75rem, .0137rem, right);
            max-width: 140px;
        }

        .header__editon {
            font-size: .5rem;
            letter-spacing: .0937rem;
            margin-top: .25rem;
        }
    }
}

@media screen and (min-width: 375px) {
    .header {       
        height: 100px;
        padding: 0 1.5rem;
    
        .header__title {
            max-width: 106px;
        }
    
        .header__icons {
            .icon__traits {
                top: 16%;
                left: -6%;

                width: 74px;
                height: 108px;
            }
        
            .icon__arrow {
                left: 40%;
            }
        
            .icon__marbles {
                left: 35%;
                bottom: -18%;
            }
        
            .icon__woman {
                left: 40%;
                top: 41%;
    
                width: 90px;
                height: 100px;
            }
        
            .icon__triangle {
                right: 3%;
                top: 7%;
    
                width: 14px;
                height: 14px;
            }
        
            .icon__zigzag {
                right: 7%;
                bottom: 9%;
    
                width: 72px;
                height: 8px;
            }
        }
    
        .container__info {
            .header__subtitle, .header__editon {
                font-size: .75rem;
            }
    
            .header__editon {
                font-size: .625rem;
                margin-top: .375rem;
            }
        }
    }
}

@media screen and (min-width: 425px) {
    .header {       
        height: 120px;
    
        .header__title {
            max-width: 120px;
        }
    
        .header__icons {
            .icon__traits {
                top: 14%;

                width: 80px;
                height: 120px;
            }
        
            .icon__arrow {
                left: 42%;

                width: 26px;
                height: 12px;
            }
        
            .icon__marbles {
                bottom: -15%;
            }
        
            .icon__woman {
                left: 42%;
                top: 42%;
    
                width: 104px;
                height: 118px;
            }
        
            .icon__triangle {
                right: 2%;
    
                width: 16px;
                height: 16px;
            }
        
            .icon__zigzag {
                right: 6%;
                bottom: 12%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .header {       
        height: 140px;
        padding: 0 38px;
    
        .header__title {
            max-width: 189px;
        }
    
        .header__icons {
            .icon__traits {
                top: 15%;
                left: -3.2%;

                width: 105px;
                height: 157px;
            }
        
            .icon__arrow {
                left: 49%;
                
                width: 48px;
                height: 20px;
            }
        
            .icon__marbles {
                left: 39%;
                bottom: -25%;

                width: 37px;
                height: 62px;
            }
        
            .icon__woman {
                left: 49%;
                top: 34%;
    
                width: 134px;
                height: 153px;
            }
        
            .icon__triangle {
                right: 3%;
                top: 3%;
    
                width: 23px;
                height: 23px;
            }
        
            .icon__zigzag {
                bottom: 9%;

                width: 78px;
            }
        }

        .container__info {
            .header__subtitle {
                font-size: .875rem;
                line-height: 1rem;
                letter-spacing: .0375rem;
            }
    
            .header__editon {
                margin-top: 1.125rem;
            }
        }
    }
}