@import '../1-base/variaveis';

.main { 
    position: relative;

    display: grid;
    column-gap: .875rem;
    row-gap: 1.5rem;

    margin-top: 1rem;
    padding: 0 1rem 1.25rem 1rem;

    z-index: 10;

    .featured__card {
        cursor: pointer;

        &__img{
            width: 100%;
        }

        &__title {
            @include font-styling($darkgrey, 1.5rem, 700, 1.5632rem, -0.0431rem, '');

            margin-top: .875rem;
        }

        &__description {
            @include font-styling($hailgray, .875rem, 400, 1.0726rem, -0.0081rem, '');
            margin-top: .5rem;
        }

        &__source {
            @include font-styling($gray, .75rem, 400, 1.0726rem, -0.0068rem, '');
            font-style: italic;

            margin-top: 1rem;
        }

        &__line {
            display: block;

            background-image: linear-gradient(120deg, $pink 0%, $purple 100%);

            max-width: 100%;
            height: 4px;

            margin-top: .5rem;
        }
    }

    .miniature__card {
        cursor: pointer;
        
        &__img {
            width: 100%;
            height: 204px;
            object-fit: cover;
            object-position: center;
        }

        &__title {
            @include font-styling($darkgrey, 1.125rem, 700, 1.3997rem, -0.0151rem, '');

            margin-top: .875rem;
        }

        &__source {
            @include font-styling($gray, .75rem, 400, 1.0726rem, -0.0068rem, '');
            font-style: italic;

            margin-top: 1rem;
        }

        &__line {
            display: block;

            max-width: 100%;
            height: 4px;

            margin-top: .5rem;
        }
        
        .nba {
            background-image: linear-gradient(120deg, $babyBlue 0%, $purple 100%);
        }

        .whatsapp {
            background-image: linear-gradient(120deg, $babyBlue 0%, $emeraldgreen 100%);
        }
    }
}

@media screen and (min-width: 375px) {
    .main {
        grid-template-columns: 1fr 1fr;

        padding: 0 1.5rem 1.25rem 1.5rem;

        .featured__card {
            grid-column: span 2;
        }

        .miniature__card {
            display: grid;
            grid-template-rows: auto 1fr repeat(2, auto);

            &__img {
                height: 190px;
            }

            &__source {
                align-self: flex-end;
            }
    
            &__line {
                align-self: flex-end;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .main { 
        row-gap: 2.375rem;
    
        margin-top: 1.75rem;
        padding: 0 2.25rem 1.25rem 2.25rem;
    
        .featured__card {
            &__line {
                display: block;
    
                background-image: linear-gradient(120deg, $pink 0%, $purple 100%);
    
                max-width: 257px;
            }
        }
    
        .miniature__card {   
            &__img {
                height: 210px;
            }
            
            &__line {
                display: block;
    
                max-width: 162px;
            }
        }
    }
    
}