@import '../1-base/variaveis';

.footer {
    margin-bottom: 1.5rem;

    &__logo {
        display: flex;
        justify-content: center;

        background-color: $warmred;
        padding: 1rem 0;

        &__img {
            margin: 0 auto
        }
    }

    &__copyright {
        padding: 0 1rem;
        
        @include font-styling($hailgray, .625rem, 400, .75rem, '', center);
        margin-top: 1.125rem;

        &__link {
            color: $hailgray;
            text-decoration: underline;
        }
    }
}

@media screen and (min-width: 375px) {
    .footer {
        &__copyright {
            padding: 0 1.5rem;
        }
    }    
}